* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('img/juanoSession.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* Para alinear elementos verticalmente */
    justify-content: flex-start; /* Mantener los elementos al inicio */
    align-items: center; /* Centrar horizontalmente */
    min-height: 100vh;
    overflow: hidden;
}

.audio-container {
    margin-top: 20px; /* Espacio desde el borde superior */
    text-align: center; /* Centrar contenido interno */
}

audio {
    max-width: 80%; /* Control del tamaño del reproductor */ 
    border-radius: 8px; /* Borde redondeado */
    padding: 50px; /* Espaciado interno */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo del reproductor */
}
